@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.header {
	background-color: $color-header-background;
	border-bottom: 2px solid $color-cta;

	// positioning
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display: flex;
	a {
		margin-left: 4.8rem;
	}
}

.logo {
	padding: 1.2rem 0;
	position: relative;
	z-index: 1000;
}

.toggle {
	display: none;
}

@include whenMedium {
	.toggle {
		// overwrite default button styles
		border: none;
		padding: 1rem;
		line-height: 1;
		background-color: transparent;

		// positioning
		display: block;
		position: relative;
		z-index: 1000;

		&:hover,
		&:focus {
			background-color: transparent;
			box-shadow: none;
		}
	}

	.nav {
		background-color: hsl(0, 0%, 100%);

		// positioning
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		min-height: 100vh;

		// flex
		display: flex;
		justify-content: center;
		align-items: center;

		// transition set up
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s;
	}

	.nav {
		flex-direction: column;
		align-items: center;

		a {
			font-size: $font-size-3;
			margin-left: 0;
			margin-bottom: 2.8rem;
			opacity: 0;
			transform: translateY(1rem);
			padding: 1rem 1.4rem;
		}
	}

	.open {
		opacity: 1;
		visibility: visible;

		a {
			transform: translateY(0);
			opacity: 1;
			transition: opacity 0.2s, transform 0.2s;

			@for $i from 0 through 9 {
				&:nth-child(#{$i + 1}) {
					transition-delay: 0.1s + $i * 0.05;
				}
			}
		}
	}
} // end of whenMedium
