@import '../../global/layout/variables';

// sections
.section {
	padding-top: 10rem;
	padding-bottom: 10rem;
}
.sectionTop {
	padding-top: 10rem;
}
.sectionBottom {
	padding-bottom: 10rem;
}

@media only screen and (max-width: 56.25em) {
	.section {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
	.sectionTop {
		padding-top: 8rem;
	}
	.sectionBottom {
		padding-bottom: 8rem;
	}
}

@media only screen and (max-width: 37.5em) {
	.section {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
	.sectionTop {
		padding-top: 6rem;
	}
	.sectionBottom {
		padding-bottom: 6rem;
	}
}

// wrappers
.wrapper,
.wrapperSm,
.wrapperSmOnMd {
	width: 100%;
	max-width: $wrapper-width;
	padding-left: 1.8rem;
	padding-right: 1.8rem;
	margin-left: auto;
	margin-right: auto;
}

.wrapperSm {
	max-width: $wrapper-small-width;
}

@media only screen and (max-width: 56.25em) {
	.wrapperSmOnMd {
		max-width: $wrapper-small-width;
	}
}

// flex

.flex {
	display: flex;
}

@media only screen and (max-width: 56.25em) {
	.collapseOnMd {
		flex-direction: column;
	}
}

@media only screen and (max-width: 37.5em) {
	.flex {
		flex-direction: column;
	}
}

// colors
.bgDark {
	background-color: $color-background-dark;
	color: rgb(231, 231, 231);
	h1,
	h2,
	h3 {
		color: white;
	}
}

.bgAccent {
	background-color: $color-background-accent;
}

// textBlock

.textBlock {
	h1,
	h2 {
		margin-bottom: 1.8rem;
	}
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 1rem;
	}
	p,
	li {
		margin-bottom: 1.6rem;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding-top: 1.6rem;
	}

	.button {
		margin-top: 1rem;
	}

	& > *:last-child {
		margin-bottom: 0;
	}
	& > *:first-child {
		padding-top: 0;
	}
}
