@import '@globalStyles/mixins';
@import '@globalStyles/variables';

.flexContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.alignStart {
	align-items: flex-start;
}

.flexItem {
	flex: 1;
	width: 100%;
	margin-right: $flex-column-gap;

	&:last-of-type {
		margin-right: 0;
	}
}

@include whenMedium {
	.collapseOnMd {
		flex-direction: column;

		.flexItem {
			margin-right: 0;
			margin-bottom: $flex-row-gap;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.reverseOnMd {
		.flexItem:nth-of-type(1) {
			order: 2;
			margin-bottom: 0;
		}
		.flexItem:nth-of-type(2) {
			order: 1;
			margin-bottom: $flex-row-gap;
		}
	}
}

@include whenSmall {
	.flexContainer {
		flex-direction: column;
	}

	.flexItem {
		margin-right: 0;
		margin-bottom: $flex-row-gap;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.reverseOnSm {
		.flexItem:nth-of-type(1) {
			order: 2;
			margin-bottom: 0;
		}
		.flexItem:nth-of-type(2) {
			order: 1;
			margin-bottom: $flex-row-gap;
		}
	}
}

.basis1 {
	flex: 1;
}

.basis2 {
	flex: 2;
}

.basis3 {
	flex: 3;
}

.basis4 {
	flex: 4;
}
