@import '@globalStyles/mixins';
@import '@globalStyles/variables';

.flex {
	display: flex;
	align-items: center;
	justify-content: center;

	& > * {
		flex: 1;
		width: 100%;
	}

	& > *:first-child {
		margin-right: $flex-column-gap;
	}
}

.flex21 > *:first-child {
	flex: 2;
}

.flex12 > *:last-child {
	flex: 2;
}

.alignStart {
	align-items: start;
}

@include whenMedium {
	.collapseOnMd {
		flex-direction: column;

		&.flex,
		&.flex21,
		&.flex12 {
			& > *:first-child {
				margin-right: 0;
				margin-bottom: $flex-row-gap;
			}
		}
	}

	.reverseOnMd {
		& > *:nth-child(1) {
			order: 2;
			margin-bottom: 0;
		}
		& > *:nth-child(2) {
			order: 1;
			margin-bottom: $flex-row-gap;
		}
	}
}

@include whenSmall {
	.flex,
	.flex21,
	.flex12 {
		flex-direction: column;

		& > *:first-child {
			margin-right: 0;
			margin-bottom: $flex-row-gap;
		}
	}

	.reverseOnSm {
		& > *:nth-child(1) {
			order: 2;
			margin-bottom: 0;
		}
		& > *:nth-child(2) {
			order: 1;
			margin-bottom: $flex-row-gap;
		}
	}
}
