@import '@globalStyles/variables';

.button {
	padding: 0.6rem 1.8rem;
	cursor: pointer;
	color: $color-text-dark-tertiary;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: white;
	border: 2px solid $color-cta;
	outline: none;
	display: inline-block;
	transition: all 0.2s;
	box-shadow: 0px 0px hsl(0, 0%, 20%);

	&:hover,
	&:focus {
		background-color: darken($color-cta, 10%);
		border-color: darken($color-cta, 10%);
		color: $color-text-dark-tertiary;
		box-shadow: 2px 2px $color-text-dark-tertiary;
	}
}

.cta {
	background-color: $color-cta;
	color: $color-text-dark-tertiary;
	&:hover,
	&:focus {
		background-color: darken($color-cta, 10%);
		border-color: darken($color-cta, 10%);
	}
}
