///////////////// colors /////////////////
$color-text: hsl(240, 5%, 19%);
$color-text-primary: hsl(240, 8%, 12%);
$color-text-tertiary: hsl(240, 4%, 36%);

$color-text-accent: hsl(0, 0%, 95%);
$color-text-accent-primary: hsl(0, 0%, 100%);
$color-text-accent-tertiary: hsl(0, 0%, 84%);

$color-link: hsl(193, 50%, 55%);
$color-link-hover: hsl(193, 50%, 55%);
$color-cta: hsl(193, 87%, 85%);
$color-primary: hsl(193, 87%, 85%);
$color-secondary: hsl(262, 100%, 85%);
$color-background: hsl(0, 0%, 100%);
$color-background-accent: hsl(0, 0%, 95%);
$color-background-dark: hsl(0, 0%, 10%);

$color-header-background: $color-background;
$color-footer-background: hsl(0, 0%, 12%);

///////////////// fonts /////////////////
$font-family: 'Open Sans', sans-serif;
$font-family-title: 'Open Sans', sans-serif;
$size-0: 1.4rem;
$size-1: 1.6rem;
$size-2: 1.9rem;
$size-3: 2.3rem;
$size-4: 2.7rem;
$size-5: 3.3rem;
$size-6: 4rem;
$size-7: 4.8rem;
$size-8: 5.6rem;
$size-9: 6.4rem;
$size-10: 7.2rem;
$size-11: 8.2rem;
$size-12: 9.6rem;
$size-13: 11.2rem;
$size-14: 13rem;

///////////////// sizes /////////////////
$breakpoint-xsmall: 25em; // 400px
$breakpoint-small: 37.5em; // 600px
$breakpoint-medium: 56.25em; // 900px
$breakpoint-large: 90em; // 1440px
$wrapper-width: 130rem;
$wrapper-small-width: 60rem;
$flex-column-gap: 2rem;
$flex-row-gap: 2rem;
