///////////////// colors /////////////////
$color-text-light: hsl(0, 0%, 95%);
$color-text-light-primary: hsl(0, 0%, 100%);
$color-text-light-tertiary: hsl(0, 0%, 84%);
$color-text-dark: hsl(240, 5%, 19%);
$color-text-dark-primary: hsl(240, 8%, 12%);
$color-text-dark-tertiary: hsl(240, 4%, 36%);
$color-link: hsl(193, 50%, 55%);
$color-cta: hsl(193, 87%, 85%);
$color-primary: hsl(193, 87%, 85%);
$color-secondary: hsl(262, 100%, 85%);
$color-background: hsl(0, 0%, 100%);
$color-background-accent: hsl(0, 0%, 95%);
$color-background-dark: hsl(0, 0%, 28%);

$color-header-background: $color-background;
$color-footer-background: hsl(0, 0%, 12%);

///////////////// fonts /////////////////
$font-family: 'Droid Sans', sans-serif;
$font-family-title: 'Droid Serif', serif;
$font-size-0: 1.4rem;
$font-size-1: 1.6rem;
$font-size-2: 1.9rem;
$font-size-3: 2.3rem;
$font-size-4: 2.7rem;
$font-size-5: 3.3rem;
$font-size-6: 4rem;
$font-size-7: 4.8rem;

///////////////// sizes /////////////////
$breakpoint-xsmall: 25em; // 400px
$breakpoint-small: 37.5em; // 600px
$breakpoint-medium: 56.25em; // 900px
$wrapper-width: 120rem;
$wrapper-small-width: 60rem;
$flex-column-gap: 2rem;
$flex-row-gap: 2rem;
