@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.title {
	font-size: $size-9;
}

.center {
	text-align: center;
}

.overflowHidden {
	overflow: hidden;
}

.shadow {
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.lg {
	font-size: $size-10;
	line-height: 1.3;
}

.md {
	font-size: $size-6;
	line-height: 1.4;
}

.sm {
	font-size: $size-5;
}

@include whenMedium {
	.title {
		font-size: $size-7;
	}

	.lg {
		font-size: $size-7;
	}

	.md {
		font-size: $size-5;
	}

	.sm {
		font-size: $size-4;
	}
}

@include whenSmall {
	.title {
		font-size: $size-6;
	}

	.lg {
		font-size: $size-6;
	}

	.md {
		font-size: $size-5;
	}

	.sm {
		font-size: $size-4;
	}
}
