@import '@globalStyles/variables';

.card {
	max-width: 40rem;
	background-color: $color-background;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.image {
	height: 24rem;
	object-fit: cover;
}

.textContainer {
	padding: 2rem 1.4rem;
	color: $color-text-dark;
	flex: 1;
	display: flex;
	flex-direction: column;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $color-text-dark-primary;
		margin-bottom: 1.4rem;
	}
}

.outline {
	border: 1px solid rgb(219, 219, 219);
}

.shadow {
	box-shadow: 0 3px 13px rgba(black, 0.15);
}
